//-Copyright 2015 Krzysztof Daniel
//-
//-Licensed under the Apache License, Version 2.0 (the "License");
//-you may not use this file except in compliance with the License.
//-You may obtain a copy of the License at
//-
//-    http://www.apache.org/licenses/LICENSE-2.0
//-
//-Unless required by applicable law or agreed to in writing, software
//-distributed under the License is distributed on an "AS IS" BASIS,
//-WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//-See the License for the specific language governing permissions and
//-limitations under the License.
doctype html
html
    head
        meta(charset='utf-8')
        title Wardley Maps Tool - #{map.history[0].name}
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
        script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js')
        script(src='http://malsup.github.com/jquery.form.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js')
        script(src='/jqBootstrapValidation.js')
        script(src='/dom.jsPlumb-1.7.2.js')
        link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css')
        link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css')
        link(rel='stylesheet', href='/mapeditor.css')
        link(rel='shortcut icon', href='/favicon.ico', type="favicon.ico")
        script(src='/progresshelper.js')
        script.
            var mapURL = '/api/map/#{map._id}';
            var partialUpdateURL = '/api/map/partial/#{map._id}';
            var progressURL = '/api/map/#{map._id}/progressstate';
            var map = {
                name : "#{map.history[0].name}",
                description : !{JSON.stringify(map.history[0].description)},
                userDate: "#{map.history[0].userDate}",
                serverDate: "#{map.history[0].serverDate}",
                nodes : !{JSON.stringify(map.history[0].nodes)},
                connections: !{JSON.stringify(map.history[0].connections)}
            };
            var progressHelper = new ProgressHelper();
    body
        .container-fluid
            nav.navbar.navbar-default(role="navigation")
                .navbar-header
                    button.navbar-toggle(type="button" data-target="#navbarCollapse" data-toggle="collapse")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href="/")
                        img(src="/favicon.ico" alt="Home" style="height: 30px;margin-top: -5px;")
                #navbarCollapse.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li
                            a#name(href="#" data-type="text" data-title="Map name" value=map.history[0].name data-pk="name" data-url='/api/map/partial/#{map._id}')=map.history[0].name
                        li.dropdown
                            a.dropdown-toggle(data-toggle="dropdown" href="#") Export <b class="caret"></b>
                            ul.dropdown-menu(role="menu")
                                li
                                    a#exportsmall(download="#{map.history[0].name}.png" href="/api/map/#{map._id}/export/1/#{map._id}.png") Small
                                li
                                    a#exportmedium(download="#map.history[0].name}.png" href="/api/map/#{map._id}/export/2/#{map._id}.png") Medium
                                li
                                    a#exportsmall(download="#{map.history[0].name}.png" href="/api/map/#{map._id}/export/3/#{map._id}.png") Large
                        //-li
                        //-    a(href="/api/map/#{map._id}/analysis" data-toggle="modal"  data-target="#analysisModal") Analysis
                        li
                            a.twitter-mention-button(href="https://twitter.com/intent/tweet?screen_name=wardleymaps"
                                                        data-size="large" data-related="wardleymaps" target="_blank") Support &amp; Complaints
                    ul.nav.navbar-nav.navbar-right
                            li
                                a(href="/profile")
                                    span.glyphicon.glyphicon-user=user.givenName
                            li
                                a(href="/logout")
                                    span.glyphicon.glyphicon-log-out Logout
            p Description:
                a#description(href="#" data-type="text" data-title="Description" value=map.history[0].description data-pk="description" data-url='/api/map/partial/#{map._id}')=map.history[0].description
            //- canvas
            #map-container.col-lg-10
                .axis-support#support-1
                .axis-support#support-2
                .axis-support#support-3
                #value Value
                #evolution Evolution
                #axis-x.row
                    .description.col-md-3.hidden-xs.hidden-sm Genesis
                    .description.col-md-3.hidden-xs.hidden-sm Custom built
                    .description.col-md-3.hidden-xs.hidden-sm Product(or rental)
                    .description.col-md-3.hidden-xs.hidden-sm Commodity/Utility
                #axis-y
                #arrow-x
                #arrow-y

            .col-lg-2#mapcreationassist(style="display:none")
                include ./mapeditor_includes/mapcreationassist.jade
            #menu.col-lg-2
                include ./mapeditor_includes/actionmenu.jade
                include ./mapeditor_includes/nodemenu.jade
                button#deleteButton.btn.btn-danger.disabled(onclick="deleteSelection()") Delete
           include ./mapeditor_includes/mapanalysis.jade
        script(src='/mapeditor.js')
